.corpo{
    background-color: white;
}
#infoescala{
    padding: 5px;
    width: 200px!important;
    text-align: center!important;
    margin: 15px 0;
    display:none;
    z-index: 10!important;
    right: 10px;
    top: 83px;
}
#infoangulo{
    padding: 5px;
    width: 200px!important;
    text-align: center!important;
    margin: 15px 0;
    display:none;
    z-index: 10!important;
    right: 10px;
    top: 83px;
}
.my-input{
    margin-bottom: 10px;
    text-align: center!important;
    width: 100%!important;
}
.container{
    margin-top: 5px;
}
.top-transformacoes{
    overflow: hidden;
}
.left-ferramentas{
    padding-left: 0px!important;
}
.buttons{
    margin-right: 50px;
    margin-bottom: 12px;
    text-align: center;
    float: left;
    overflow: hidden !important;

}
.buttons button{
    overflow: hidden !important;
    font-size: 12pt!important;
    width: 164px;
    height: 80px !important;
}
.buttons button img{
    width: 35px;
    height: 35px;
}
.buttons button i{
    font-size: 20px;
}
.canvas{
    border: 1px solid black;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.texto-observacao{
    font-size: 10px;
}
.m-t-b{
    margin-top: 25px;
}
.comentario{
    position: absolute;
    z-index: 10;
    right: 5px;
    bottom: 5px;
    width: 198px;
    height: 350px;
    border:1px solid #8c8c8c;
    background-color: #ccc;
    color: black;
    padding: 5px;
    font-weight: bold;
}